//! **************************************************************************
// Written by: Map P.20131013 on Sat Jun 18 09:54:48 2022
//! **************************************************************************

SCHEMATIC START;
COMP "EN" LOCATE = SITE "K13" LEVEL 1;
COMP "sel" LOCATE = SITE "E13" LEVEL 1;
COMP "RST" LOCATE = SITE "M13" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "F13" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "N15" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "UpDown" LOCATE = SITE "K14" LEVEL 1;
COMP "CLK" LOCATE = SITE "T9" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "E14" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

